/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #bb6925; /* Cor de fundo do cabeçalho */
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative; /* Necessário para o dropdown */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-links a img.config-icon {
    margin-left: 5px;
    width: 16px; /* Ajuste o tamanho conforme necessário */
    height: 16px; /* Ajuste o tamanho conforme necessário */
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #333;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #bb6925;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #a65c1e;
}

/* Estilos para o menu dropdown */
.config-dropdown {
    position: relative;
}

.config-dropdown:hover .dropdown-content,
.config-dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

.dropdown-content li {
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #575757;
}
